In [4]:
import pandas as pd 
import numpy as np
import re
import os

In [5]:
os.chdir('C:/Users/Moiz_Ali_Abedin/Desktop/FTI///Python Basic Module 1/Files of PANDAS')

In [42]:
ds=pd.read_csv('Customers.csv',dtype={'PO BOX':object,'MOBILE':object})
ds

,ID,Name,Gender,PO BOX,Email,CNIC,DOB,Registered_Age,Mobile,Religion
0,1001,Ali,M,A74000,Ali@gmail.com,42301-4774468-1,12/01/1980,30,3002090485,Islam
1,1002,Ahmed,M,74100,Ahmed@gmail.com,42301-4774469-1,14/02/1986,25,3002090486,NaN
2,1003,Sara,F,74000,Sara@gmail.com,42301-4774470-1,23/02/2000,15,3002090487,NaN
3,1004,Janifer,F,74500,Janifer@gmail.com,42301-4774471-1,16/05/2008,8,300209048,NaN
4,1005,Aslam,M,74300,Aslam@gmail.com,42301-4774472-1,17/04/2006,8,3002090489,NaN
5,1006,Jatin,M,74500,Jatin @gmail.com,42301-4774473-1,18/03/2004,9,3002090490,Hinduaism
6,1007,Arham,M,75200,Arham@gmail.com,42301-4774474-1,17/02/2002,12,3002090491,NaN
7,1008,David,M,75400,David@gmail.com,42301-4774475-1,19/01/2000,14,3002090492,NaN
8,1009,NaN,F,NaN,NaN,NaN,20/12/1997,20,3002090493,NaN
9,1010,Somro,M,74100,Somro@hotmail.com,42301-4774477-1,21/11/1995,23,3002090494,NaN
10,1011,Khan,M,74000,Khan@hotmail.com,42301-4774478-1,22/10/1993,20,3002090495,NaN
11,1012,Bilal,M,74500,Bilal@hotmail.com,42301-4774479-1,23/09/1991,23,3002090496,NaN
12,1013,Basit,M,74300,Basit@hotmail.com,42301-4774480-1,24/08/1989,25,3002090497,NaN
13,1014,Karim,M,74500,Karimhotmail.com,42301-4774481-1,26/07/1987,25,3002090498,NaN
14,1015,Kaleem,M,75200,Kaleem@hotmail.com,42301-4774482-1,26/06/1985,30,3002090499,Islam
15,1016,Jafer,M,75400,Jafer@hotmail.com,42301-4774483-1,28/05/1983,31,3002090500,NaN
16,1017,Junaid,M,74000,Junaid@hotmail.com,42301-4774484-2,28/04/1981,32,3002090501,NaN
17,1018,Zia,M,74100,Zia@hotmail.com,42301-4774485-2,30/03/1979,30,3002090502,NaN
18,1019,Zaki,M,74000,Zaki@fti.com,42301-474486-2,28/02/1977,35,3002090503,NaN
19,1020,Rashid,M,74500,Rashid@fti.com,42301-4774487-2,30/01/1975,30,3002090504,NaN
20,1021,Rana,M,74300,Rana@fti.com,42301-4774488-2,15/05/2004,14,3002090505,NaN
21,1022,saad,M,74500,saad@fti.com,42301-4774489-2,16/05/2004,13,3002090506,NaN
22,1023,Salim,M,75200,Salimfti.com,42301-4774490-2,17/05/2004,13,3002090507,NaN
23,1024,Chatin,M,5400,Chatin@fti.com,42301-4774491-2,03/02/1990,23,3002090508,Islam
24,1025,Mazhar,M,74500,Mazhar@fti.com,42301-4774492-,26/07/1987,25,3002090,NaN
25,1026,Rafiq,M,75200,Rafiq@fti.com,42301-4774493-2,26/06/1985,26,ABBBassas,NaN
26,1027,Iqbal,M,75400,Iqbal@fti.com,42301-4774494-2,28/05/1983,32,3002090511,NaN
27,1028,Farooq,M,74000,Farooq@fti.com,42301-4774495-2,21/11/1995,21,3002090512,NaN
28,1029,William,M,74100,William @fti.com,42301-4774496-2,22/10/1993,20,3002090513,Christianity
29,1030,Jaqob,M,74200,jaqob@fti.com,42301-4774476-2,23/10/1993,20,3362090878,Christianity

In [68]:
ds['DOB']=pd.to_datetime(ds["DOB"])

In [69]:
ds.dtypes

ID                         int64
Name                      object
Gender                    object
POBOX                     object
Email                     object
CNIC                      object
DOB               datetime64[ns]
Registered_Age             int64
Mobile                    object
dtype: object

In [44]:
ds.rename(columns={'PO BOX':'POBOX','Name ':'Name','ID ':'ID','Gender ':'Gender','Email ':'Email'},inplace=True)

In [45]:
ds.head()

,ID,Name,Gender,POBOX,Email,CNIC,DOB,Registered_Age,Mobile,Religion
0,1001,Ali,M,A74000,Ali@gmail.com,42301-4774468-1,12/01/1980,30,3002090485,Islam
1,1002,Ahmed,M,74100,Ahmed@gmail.com,42301-4774469-1,14/02/1986,25,3002090486,NaN
2,1003,Sara,F,74000,Sara@gmail.com,42301-4774470-1,23/02/2000,15,3002090487,NaN
3,1004,Janifer,F,74500,Janifer@gmail.com,42301-4774471-1,16/05/2008,8,300209048,NaN
4,1005,Aslam,M,74300,Aslam@gmail.com,42301-4774472-1,17/04/2006,8,3002090489,NaN

In [46]:
ds.isnull().sum()

ID                 0
Name               1
Gender             0
POBOX              1
Email              1
CNIC               1
DOB                0
Registered_Age     0
Mobile             0
Religion          24
dtype: int64

In [47]:
del ds['Religion']

In [48]:
ds.head()

,ID,Name,Gender,POBOX,Email,CNIC,DOB,Registered_Age,Mobile
0,1001,Ali,M,A74000,Ali@gmail.com,42301-4774468-1,12/01/1980,30,3002090485
1,1002,Ahmed,M,74100,Ahmed@gmail.com,42301-4774469-1,14/02/1986,25,3002090486
2,1003,Sara,F,74000,Sara@gmail.com,42301-4774470-1,23/02/2000,15,3002090487
3,1004,Janifer,F,74500,Janifer@gmail.com,42301-4774471-1,16/05/2008,8,300209048
4,1005,Aslam,M,74300,Aslam@gmail.com,42301-4774472-1,17/04/2006,8,3002090489

In [49]:
ds=ds.dropna(how='any',subset=['Email','CNIC','Name'])
ds=ds.reset_index(drop=True)

In [41]:
ds

,Name,Gender,POBOX,Email,CNIC,DOB,Registered_Age,Mobile
0,Ali,M,A74000,Ali@gmail.com,42301-4774468-1,12/01/1980,30,3002090485
1,Ahmed,M,74100,Ahmed@gmail.com,42301-4774469-1,14/02/1986,25,3002090486
2,Sara,F,74000,Sara@gmail.com,42301-4774470-1,23/02/2000,15,3002090487
3,Janifer,F,74500,Janifer@gmail.com,42301-4774471-1,16/05/2008,8,300209048
4,Aslam,M,74300,Aslam@gmail.com,42301-4774472-1,17/04/2006,8,3002090489
5,Jatin,M,74500,Jatin @gmail.com,42301-4774473-1,18/03/2004,9,3002090490
6,Arham,M,75200,Arham@gmail.com,42301-4774474-1,17/02/2002,12,3002090491
7,David,M,75400,David@gmail.com,42301-4774475-1,19/01/2000,14,3002090492
8,Somro,M,74100,Somro@hotmail.com,42301-4774477-1,21/11/1995,23,3002090494
9,Khan,M,74000,Khan@hotmail.com,42301-4774478-1,22/10/1993,20,3002090495
10,Bilal,M,74500,Bilal@hotmail.com,42301-4774479-1,23/09/1991,23,3002090496
11,Basit,M,74300,Basit@hotmail.com,42301-4774480-1,24/08/1989,25,3002090497
12,Karim,M,74500,Karimhotmail.com,42301-4774481-1,26/07/1987,25,3002090498
13,Kaleem,M,75200,Kaleem@hotmail.com,42301-4774482-1,26/06/1985,30,3002090499
14,Jafer,M,75400,Jafer@hotmail.com,42301-4774483-1,28/05/1983,31,3002090500
15,Junaid,M,74000,Junaid@hotmail.com,42301-4774484-2,28/04/1981,32,3002090501
16,Zia,M,74100,Zia@hotmail.com,42301-4774485-2,30/03/1979,30,3002090502
17,Zaki,M,74000,Zaki@fti.com,42301-474486-2,28/02/1977,35,3002090503
18,Rashid,M,74500,Rashid@fti.com,42301-4774487-2,30/01/1975,30,3002090504
19,Rana,M,74300,Rana@fti.com,42301-4774488-2,15/05/2004,14,3002090505
20,saad,M,74500,saad@fti.com,42301-4774489-2,16/05/2004,13,3002090506
21,Salim,M,75200,Salimfti.com,42301-4774490-2,17/05/2004,13,3002090507
22,Chatin,M,5400,Chatin@fti.com,42301-4774491-2,03/02/1990,23,3002090508
23,Mazhar,M,74500,Mazhar@fti.com,42301-4774492-,26/07/1987,25,3002090
24,Rafiq,M,75200,Rafiq@fti.com,42301-4774493-2,26/06/1985,26,ABBBassas
25,Iqbal,M,75400,Iqbal@fti.com,42301-4774494-2,28/05/1983,32,3002090511
26,Farooq,M,74000,Farooq@fti.com,42301-4774495-2,21/11/1995,21,3002090512
27,William,M,74100,William @fti.com,42301-4774496-2,22/10/1993,20,3002090513
28,Jaqob,M,74200,jaqob@fti.com,42301-4774476-2,23/10/1993,20,3362090878

In [50]:
cnt=0
for row in ds['POBOX']:
    if(len(str(row))!=5) or (any(c.isalpha() for c in row)):
        ds.loc[cnt,'POBOX']=np.nan
    cnt+=1

In [51]:
ds

,ID,Name,Gender,POBOX,Email,CNIC,DOB,Registered_Age,Mobile
0,1001,Ali,M,NaN,Ali@gmail.com,42301-4774468-1,12/01/1980,30,3002090485
1,1002,Ahmed,M,74100,Ahmed@gmail.com,42301-4774469-1,14/02/1986,25,3002090486
2,1003,Sara,F,74000,Sara@gmail.com,42301-4774470-1,23/02/2000,15,3002090487
3,1004,Janifer,F,74500,Janifer@gmail.com,42301-4774471-1,16/05/2008,8,300209048
4,1005,Aslam,M,74300,Aslam@gmail.com,42301-4774472-1,17/04/2006,8,3002090489
5,1006,Jatin,M,74500,Jatin @gmail.com,42301-4774473-1,18/03/2004,9,3002090490
6,1007,Arham,M,75200,Arham@gmail.com,42301-4774474-1,17/02/2002,12,3002090491
7,1008,David,M,75400,David@gmail.com,42301-4774475-1,19/01/2000,14,3002090492
8,1010,Somro,M,74100,Somro@hotmail.com,42301-4774477-1,21/11/1995,23,3002090494
9,1011,Khan,M,74000,Khan@hotmail.com,42301-4774478-1,22/10/1993,20,3002090495
10,1012,Bilal,M,74500,Bilal@hotmail.com,42301-4774479-1,23/09/1991,23,3002090496
11,1013,Basit,M,74300,Basit@hotmail.com,42301-4774480-1,24/08/1989,25,3002090497
12,1014,Karim,M,74500,Karimhotmail.com,42301-4774481-1,26/07/1987,25,3002090498
13,1015,Kaleem,M,75200,Kaleem@hotmail.com,42301-4774482-1,26/06/1985,30,3002090499
14,1016,Jafer,M,75400,Jafer@hotmail.com,42301-4774483-1,28/05/1983,31,3002090500
15,1017,Junaid,M,74000,Junaid@hotmail.com,42301-4774484-2,28/04/1981,32,3002090501
16,1018,Zia,M,74100,Zia@hotmail.com,42301-4774485-2,30/03/1979,30,3002090502
17,1019,Zaki,M,74000,Zaki@fti.com,42301-474486-2,28/02/1977,35,3002090503
18,1020,Rashid,M,74500,Rashid@fti.com,42301-4774487-2,30/01/1975,30,3002090504
19,1021,Rana,M,74300,Rana@fti.com,42301-4774488-2,15/05/2004,14,3002090505
20,1022,saad,M,74500,saad@fti.com,42301-4774489-2,16/05/2004,13,3002090506
21,1023,Salim,M,75200,Salimfti.com,42301-4774490-2,17/05/2004,13,3002090507
22,1024,Chatin,M,NaN,Chatin@fti.com,42301-4774491-2,03/02/1990,23,3002090508
23,1025,Mazhar,M,74500,Mazhar@fti.com,42301-4774492-,26/07/1987,25,3002090
24,1026,Rafiq,M,75200,Rafiq@fti.com,42301-4774493-2,26/06/1985,26,ABBBassas
25,1027,Iqbal,M,75400,Iqbal@fti.com,42301-4774494-2,28/05/1983,32,3002090511
26,1028,Farooq,M,74000,Farooq@fti.com,42301-4774495-2,21/11/1995,21,3002090512
27,1029,William,M,74100,William @fti.com,42301-4774496-2,22/10/1993,20,3002090513
28,1030,Jaqob,M,74200,jaqob@fti.com,42301-4774476-2,23/10/1993,20,3362090878

In [59]:
cnt=0
for row in ds['Mobile']:
    if(len(str(row))>15) or (len(str(row))<10) or (any(c.isalpha() for c in row)):
        #print('Lenght: ',len(str(row)),'Index: ',cnt)
        ds.loc[cnt,'Mobile']=np.nan
    else:
        pass
    cnt+=1

In [60]:
ds

,ID,Name,Gender,POBOX,Email,CNIC,DOB,Registered_Age,Mobile
0,1001,Ali,M,NaN,Ali@gmail.com,42301-4774468-1,12/01/1980,30,3002090485
1,1002,Ahmed,M,74100,Ahmed@gmail.com,42301-4774469-1,14/02/1986,25,3002090486
2,1003,Sara,F,74000,Sara@gmail.com,42301-4774470-1,23/02/2000,15,3002090487
3,1004,Janifer,F,74500,Janifer@gmail.com,42301-4774471-1,16/05/2008,8,NaN
4,1005,Aslam,M,74300,Aslam@gmail.com,42301-4774472-1,17/04/2006,8,3002090489
5,1006,Jatin,M,74500,Jatin @gmail.com,42301-4774473-1,18/03/2004,9,3002090490
6,1007,Arham,M,75200,Arham@gmail.com,42301-4774474-1,17/02/2002,12,3002090491
7,1008,David,M,75400,David@gmail.com,42301-4774475-1,19/01/2000,14,3002090492
8,1010,Somro,M,74100,Somro@hotmail.com,42301-4774477-1,21/11/1995,23,3002090494
9,1011,Khan,M,74000,Khan@hotmail.com,42301-4774478-1,22/10/1993,20,3002090495
10,1012,Bilal,M,74500,Bilal@hotmail.com,42301-4774479-1,23/09/1991,23,3002090496
11,1013,Basit,M,74300,Basit@hotmail.com,42301-4774480-1,24/08/1989,25,3002090497
12,1014,Karim,M,74500,Karimhotmail.com,42301-4774481-1,26/07/1987,25,3002090498
13,1015,Kaleem,M,75200,Kaleem@hotmail.com,42301-4774482-1,26/06/1985,30,3002090499
14,1016,Jafer,M,75400,Jafer@hotmail.com,42301-4774483-1,28/05/1983,31,3002090500
15,1017,Junaid,M,74000,Junaid@hotmail.com,42301-4774484-2,28/04/1981,32,3002090501
16,1018,Zia,M,74100,Zia@hotmail.com,42301-4774485-2,30/03/1979,30,3002090502
17,1019,Zaki,M,74000,Zaki@fti.com,42301-474486-2,28/02/1977,35,3002090503
18,1020,Rashid,M,74500,Rashid@fti.com,42301-4774487-2,30/01/1975,30,3002090504
19,1021,Rana,M,74300,Rana@fti.com,42301-4774488-2,15/05/2004,14,3002090505
20,1022,saad,M,74500,saad@fti.com,42301-4774489-2,16/05/2004,13,3002090506
21,1023,Salim,M,75200,Salimfti.com,42301-4774490-2,17/05/2004,13,3002090507
22,1024,Chatin,M,NaN,Chatin@fti.com,42301-4774491-2,03/02/1990,23,3002090508
23,1025,Mazhar,M,74500,Mazhar@fti.com,42301-4774492-,26/07/1987,25,NaN
24,1026,Rafiq,M,75200,Rafiq@fti.com,42301-4774493-2,26/06/1985,26,NaN
25,1027,Iqbal,M,75400,Iqbal@fti.com,42301-4774494-2,28/05/1983,32,3002090511
26,1028,Farooq,M,74000,Farooq@fti.com,42301-4774495-2,21/11/1995,21,3002090512
27,1029,William,M,74100,William @fti.com,42301-4774496-2,22/10/1993,20,3002090513
28,1030,Jaqob,M,74200,jaqob@fti.com,42301-4774476-2,23/10/1993,20,3362090878

In [62]:
chars=set('@')
cnt=0
for row in ds['Email']:
    if any((x in chars) for x in row):
        pass
    else:
        ds.loc[cnt,'Email']=np.nan
    cnt+=1

In [63]:
ds

,ID,Name,Gender,POBOX,Email,CNIC,DOB,Registered_Age,Mobile
0,1001,Ali,M,NaN,Ali@gmail.com,42301-4774468-1,12/01/1980,30,3002090485
1,1002,Ahmed,M,74100,Ahmed@gmail.com,42301-4774469-1,14/02/1986,25,3002090486
2,1003,Sara,F,74000,Sara@gmail.com,42301-4774470-1,23/02/2000,15,3002090487
3,1004,Janifer,F,74500,Janifer@gmail.com,42301-4774471-1,16/05/2008,8,NaN
4,1005,Aslam,M,74300,Aslam@gmail.com,42301-4774472-1,17/04/2006,8,3002090489
5,1006,Jatin,M,74500,Jatin @gmail.com,42301-4774473-1,18/03/2004,9,3002090490
6,1007,Arham,M,75200,Arham@gmail.com,42301-4774474-1,17/02/2002,12,3002090491
7,1008,David,M,75400,David@gmail.com,42301-4774475-1,19/01/2000,14,3002090492
8,1010,Somro,M,74100,Somro@hotmail.com,42301-4774477-1,21/11/1995,23,3002090494
9,1011,Khan,M,74000,Khan@hotmail.com,42301-4774478-1,22/10/1993,20,3002090495
10,1012,Bilal,M,74500,Bilal@hotmail.com,42301-4774479-1,23/09/1991,23,3002090496
11,1013,Basit,M,74300,Basit@hotmail.com,42301-4774480-1,24/08/1989,25,3002090497
12,1014,Karim,M,74500,NaN,42301-4774481-1,26/07/1987,25,3002090498
13,1015,Kaleem,M,75200,Kaleem@hotmail.com,42301-4774482-1,26/06/1985,30,3002090499
14,1016,Jafer,M,75400,Jafer@hotmail.com,42301-4774483-1,28/05/1983,31,3002090500
15,1017,Junaid,M,74000,Junaid@hotmail.com,42301-4774484-2,28/04/1981,32,3002090501
16,1018,Zia,M,74100,Zia@hotmail.com,42301-4774485-2,30/03/1979,30,3002090502
17,1019,Zaki,M,74000,Zaki@fti.com,42301-474486-2,28/02/1977,35,3002090503
18,1020,Rashid,M,74500,Rashid@fti.com,42301-4774487-2,30/01/1975,30,3002090504
19,1021,Rana,M,74300,Rana@fti.com,42301-4774488-2,15/05/2004,14,3002090505
20,1022,saad,M,74500,saad@fti.com,42301-4774489-2,16/05/2004,13,3002090506
21,1023,Salim,M,75200,NaN,42301-4774490-2,17/05/2004,13,3002090507
22,1024,Chatin,M,NaN,Chatin@fti.com,42301-4774491-2,03/02/1990,23,3002090508
23,1025,Mazhar,M,74500,Mazhar@fti.com,42301-4774492-,26/07/1987,25,NaN
24,1026,Rafiq,M,75200,Rafiq@fti.com,42301-4774493-2,26/06/1985,26,NaN
25,1027,Iqbal,M,75400,Iqbal@fti.com,42301-4774494-2,28/05/1983,32,3002090511
26,1028,Farooq,M,74000,Farooq@fti.com,42301-4774495-2,21/11/1995,21,3002090512
27,1029,William,M,74100,William @fti.com,42301-4774496-2,22/10/1993,20,3002090513
28,1030,Jaqob,M,74200,jaqob@fti.com,42301-4774476-2,23/10/1993,20,3362090878

re =Regular Expression
^ = must start with
$ = must end with
* = more than one
. = anything in between

In [ ]:
pattern=re.compile('^[0-9+]{5}-{0-9+}{7}-[0-9]{1}$')
count=0
for i in ds['CNIC']:
    if re.search(pattern,i):
        pass
    else:
        ds.loc[count,'CNIC']=np.nan
        
    count+=1

In [64]:
now=pd.to_datetime('today')
now

Timestamp('2019-11-09 17:05:08.112713')

In [70]:
ds['Age_Updated']=now.year-ds['DOB'].dt.year

In [71]:
ds

,ID,Name,Gender,POBOX,Email,CNIC,DOB,Registered_Age,Mobile,Age_Updated
0,1001,Ali,M,NaN,Ali@gmail.com,42301-4774468-1,1980-12-01,30,3002090485,39
1,1002,Ahmed,M,74100,Ahmed@gmail.com,42301-4774469-1,1986-02-14,25,3002090486,33
2,1003,Sara,F,74000,Sara@gmail.com,42301-4774470-1,2000-02-23,15,3002090487,19
3,1004,Janifer,F,74500,Janifer@gmail.com,42301-4774471-1,2008-05-16,8,NaN,11
4,1005,Aslam,M,74300,Aslam@gmail.com,42301-4774472-1,2006-04-17,8,3002090489,13
5,1006,Jatin,M,74500,Jatin @gmail.com,42301-4774473-1,2004-03-18,9,3002090490,15
6,1007,Arham,M,75200,Arham@gmail.com,42301-4774474-1,2002-02-17,12,3002090491,17
7,1008,David,M,75400,David@gmail.com,42301-4774475-1,2000-01-19,14,3002090492,19
8,1010,Somro,M,74100,Somro@hotmail.com,42301-4774477-1,1995-11-21,23,3002090494,24
9,1011,Khan,M,74000,Khan@hotmail.com,42301-4774478-1,1993-10-22,20,3002090495,26
10,1012,Bilal,M,74500,Bilal@hotmail.com,42301-4774479-1,1991-09-23,23,3002090496,28
11,1013,Basit,M,74300,Basit@hotmail.com,42301-4774480-1,1989-08-24,25,3002090497,30
12,1014,Karim,M,74500,NaN,42301-4774481-1,1987-07-26,25,3002090498,32
13,1015,Kaleem,M,75200,Kaleem@hotmail.com,42301-4774482-1,1985-06-26,30,3002090499,34
14,1016,Jafer,M,75400,Jafer@hotmail.com,42301-4774483-1,1983-05-28,31,3002090500,36
15,1017,Junaid,M,74000,Junaid@hotmail.com,42301-4774484-2,1981-04-28,32,3002090501,38
16,1018,Zia,M,74100,Zia@hotmail.com,42301-4774485-2,1979-03-30,30,3002090502,40
17,1019,Zaki,M,74000,Zaki@fti.com,42301-474486-2,1977-02-28,35,3002090503,42
18,1020,Rashid,M,74500,Rashid@fti.com,42301-4774487-2,1975-01-30,30,3002090504,44
19,1021,Rana,M,74300,Rana@fti.com,42301-4774488-2,2004-05-15,14,3002090505,15
20,1022,saad,M,74500,saad@fti.com,42301-4774489-2,2004-05-16,13,3002090506,15
21,1023,Salim,M,75200,NaN,42301-4774490-2,2004-05-17,13,3002090507,15
22,1024,Chatin,M,NaN,Chatin@fti.com,42301-4774491-2,1990-03-02,23,3002090508,29
23,1025,Mazhar,M,74500,Mazhar@fti.com,42301-4774492-,1987-07-26,25,NaN,32
24,1026,Rafiq,M,75200,Rafiq@fti.com,42301-4774493-2,1985-06-26,26,NaN,34
25,1027,Iqbal,M,75400,Iqbal@fti.com,42301-4774494-2,1983-05-28,32,3002090511,36
26,1028,Farooq,M,74000,Farooq@fti.com,42301-4774495-2,1995-11-21,21,3002090512,24
27,1029,William,M,74100,William @fti.com,42301-4774496-2,1993-10-22,20,3002090513,26
28,1030,Jaqob,M,74200,jaqob@fti.com,42301-4774476-2,1993-10-23,20,3362090878,26

In [77]:
ds.to_csv('New Customer Clean Data.csv',index=False)